<p>cotel works!</p>


<!-- Slider -->

<div class="slider-container">
  <div class="slider-track" [style.transform]="'translateX(' + slideIndex * -100 + '%)'">
    <div class="slide">
      <img src="img/portada.jpg" alt="Banner 1" />
    </div>
    <div class="slide">
      <img src="img/logo.jpg" alt="Banner 2" />
    </div>
  </div>

  <!-- Botones -->
  <button (click)="cambiarSlide(-1)">‹</button>
  <button (click)="cambiarSlide(1)">›</button>

  <!-- Puntos -->
  <div class="dots">
    <span *ngFor="let _ of [0,1]; let i = index"
          (click)="slideIndex = i"
          [class.active]="i === slideIndex">
    </span>
  </div>
</div>





<!-- SECCIÓN DE CARDS (Destacados) -->
<section class="cards-section">
  <div class="card">
    <span class="icon">🎓</span>
    <h3>Pregrado</h3>
    <p>Más de 30 programas con los más altos estándares de calidad académica.</p>
  </div>
  <div class="card">
    <span class="icon">📚</span>
    <h3>Posgrado</h3>
    <p>Especializaciones, maestrías y doctorados para potenciar tu carrera.</p>
  </div>
  <div class="card">
    <span class="icon">🌍</span>
    <h3>Internacional</h3>
    <p>Convenios con las mejores universidades del mundo para tu formación global.</p>
  </div>
</section>